In [23]:
import pandas as pd
from IPython.display import display
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'P': ['C0', 'C1', 'C2', 'C3'],
                    'Q': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])

In [24]:
display(df1)
k = ['A0', 'A1', 'A2']
display(df1[df1.A.isin(k)])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

In [26]:
df1 = pd.DataFrame(data = {'col1' : [1, 2, 3, 4, 5], 'col2' : [10, 11, 12, 13, 14]})

In [27]:
df2 = pd.DataFrame(data = {'col1' : [1, 2, 3], 'col2' : [10, 11, 12]})

In [28]:
df1

   col1  col2
0     1    10
1     2    11
2     3    12
3     4    13
4     5    14

In [29]:
df2

   col1  col2
0     1    10
1     2    11
2     3    12

In [32]:
df1[~df1.isin(df2)]

   col1  col2
0   NaN   NaN
1   NaN   NaN
2   NaN   NaN
3   4.0  13.0
4   5.0  14.0

In [33]:
df = pd.DataFrame({"a":[1,1,3], "b":[4,5.5,6], "c":[7,8,9], "name":["hello","hello","foo"]})

In [34]:
df.groupby(["a", "name"]).median()

            b    c
a name
1 hello  4.75  7.5
3 foo    6.00  9.0

In [41]:
a = [*range(1, 11)]

TypeError: list indices must be integers or slices, not list